[submodule "Component/Uart_Class"]
	path = Component/Uart_Class
	url = https://github.com/minimirror1/cpp_Uart_Class_v2
[submodule "Component/Tick"]
	path = Component/cpp_tick
	url = https://github.com/minimirror1/cpp_tick.git
[submodule "Component/COM_Protocol_Class"]
    path = Component/COM_Protocol_Class
    url = https://github.com/minimirror1/COM_Protocol_Class.git